@model dtu.blognet.Application.Web.Models.BlogViewModels.BlogCreateViewModel
@{
    ViewData["Title"] = "Create Blog";
}

<form asp-action="Create">

    <h3 class="form-signin-heading" style="margin-top:0px;">Title</h3>
    <div class="form-group form-group-lg">
        <input type="text" class="form-control" style="max-width:100%;" aria-describedby="sizing-addon1" asp-for="Title">
    </div>

    <br />

    <h3 class="form-signin-heading" style="margin-top:0px;">Tags</h3>
    <div class="form-group form-group-lg">
        <input asp-for="Tags" type="text" class="form-control" style="max-width:100%;" aria-describedby="sizing-addon1">
    </div>

    <br/>

    <h3 class="form-signin-heading" style="margin-top:0px;">Description</h3>

    <textarea asp-for="Description" id="markdown-editor"></textarea>
    <input asp-for="Id" hidden="true"/>

    <input class="btn btn-lg btn-primary btn-block center-block" style="max-width:40%;" type="submit" value="Create blog" />

</form>

@section Scripts
{
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("markdown-editor") });
    </script>
}