@model dtu.blognet.Application.Web.Models.BlogViewModels.BlogIndexViewModel
@{
    ViewData["Title"] = "Blogs";
}
@foreach (var blog in Model.Blogs)
{
    <h3><a asp-action="View" asp-route-id="@blog.Id">@blog.Title</a></h3>
}
